main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}




.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 20px;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }
}

.brown-background {
  background-color: #5c4f41;
}

.item {
  flex: 1;
  padding: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}

.column-double {
  flex: 2;
  flex-direction: column;
  padding: 10px;
}

img {
  width: 100%;
}